################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

**/bin/
**/.vs/

/obj/Debug
/obj/project.nuget.cache
/obj/RunReport.csproj.nuget.dgspec.json
/obj/RunReport.csproj.nuget.g.props
/obj/RunReport.csproj.nuget.g.targets

/files/output.docx